@page "/reportError/{errorCode:int}/{errorDescription}"

<h3>
    The error with @ErrorCode and @ErrorDescription has been reported.  
</h3>

<p>
    Click <a href="/">here</a> to navigate to the Home page.
</p>